#topInput {
    margin: auto;
    text-align: right;
    width: 400px;
}

.modal-body p {
    margin-top: 20px;
    font-size: 20px;
}

body {
    text-align: center;
    background-color: whitesmoke;
}

.header {
    background-color: navy;
    color: whitesmoke;
    top: 0;
    padding: 10px 0px;
    margin-bottom: 10px;
}

h1 {
    margin: 10px 0px
}

input {
    margin: 5px 0px;
    width: 270px;
}

p {
    margin: 10px 0px;
}

select {
    background-color: white;
    width: 288px;
}

button {
    margin: 30px 0px;
}